# Matches all listed extensions, plus the exact .envrc and .md files
[*.{nix,sh,bash,yml,yaml,toml,cc,cpp,cxx,h,hpp,css,html,json,jsonc,md,py,swift}, .envrc]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 1

# Override just the whitespace rule for Markdown
[*.md]
trim_trailing_whitespace = false

[*.{py,swift}, .python]
indent_size = 4
